.main-nav {
  z-index: 10;
  height: 72px;
  font-size: 18px;
  color: #666C71;
  background-color: #FFF;
  border-bottom: 1px solid #efefef;
}

.main-nav--fixed {
  position: fixed;
  width: 100%;
  outline: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}

.main-nav li {
  font-family: 'Porter Medium', 'Helvetic-Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 72px;
  height: 72px;
  display: inline-block;
  cursor: pointer;
  float: left;
}
.main-nav li:first-child {
  /*margin-left: 0px;*/
}

.main-nav li:hover,
.main-nav li.selected {
  background-color: #efefef;
}

.main-nav-link {
  height: 100%;
  color: #666C71;
  cursor: pointer;
  text-decoration: none;
  line-height: inherit;
}









/*.selfclear:before,
.selfclear:after {
    content:" ";
    display:table
}
.selfclear:after {
    clear:both
}*/